@import url("https://fonts.googleapis.com/css?family=Lato:300&subset=latin-ext");
.container {
  max-width: 1200px;
  margin: 0 auto; }
  .container .clock-face {
    width: 300px;
    height: 300px;
    border: 4px solid #888;
    border-radius: 50%;
    position: relative;
    background-color: #ccc;
    margin: 10px auto; }
    .container .clock-face .hand {
      width: 4px;
      position: absolute;
      left: 148px;
      border-radius: 2px;
      transform-origin: 50% 100%;
      transition: all 0.01s;
      transition-timing-function: cubic-bezier(0, 1.76, 0.58, 1); }
      .container .clock-face .hand .top {
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        position: absolute;
        top: -10px;
        left: -4px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px; }
    .container .clock-face .second-hand {
      height: 135px;
      background-color: #888;
      top: 15px; }
      .container .clock-face .second-hand .top-second-hand {
        border-bottom: 12px solid #888; }
      .container .clock-face .second-hand .second-ring-central {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        bottom: -14px;
        left: -12px;
        border: 4px outset #888; }
    .container .clock-face .minute-hand {
      height: 125px;
      background-color: #777;
      top: 25px; }
      .container .clock-face .minute-hand .top-minute-hand {
        border-bottom: 18px solid #777; }
    .container .clock-face .hour-hand {
      height: 100px;
      background-color: #666;
      top: 50px; }
      .container .clock-face .hour-hand .top-hour-hand {
        border-bottom: 24px solid #666; }
      .container .clock-face .hour-hand .ring-central {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        position: absolute;
        bottom: -6px;
        left: -4px;
        background-color: #666; }
    .container .clock-face .vertical-hours, .container .clock-face .vertical-hours-before, .container .clock-face .vertical-hours-after {
      width: 4px;
      height: 300px;
      position: absolute;
      top: 0;
      left: 148px; }
      .container .clock-face .vertical-hours .top-hour, .container .clock-face .vertical-hours-before .top-hour, .container .clock-face .vertical-hours-after .top-hour, .container .clock-face .vertical-hours-before .top-hour-before, .container .clock-face .vertical-hours-after .top-hour-after {
        width: 4px;
        height: 20px;
        position: absolute;
        top: 3px;
        background-color: #eee; }
      .container .clock-face .vertical-hours .bottom-hour, .container .clock-face .vertical-hours-before .bottom-hour, .container .clock-face .vertical-hours-after .bottom-hour, .container .clock-face .vertical-hours-before .bottom-hour-before, .container .clock-face .vertical-hours-after .bottom-hour-after {
        width: 4px;
        height: 20px;
        position: absolute;
        bottom: 3px;
        background-color: #eee; }
    .container .clock-face .vertical-hours-before {
      transform: rotate(-30deg); }
      .container .clock-face .vertical-hours-before .top-hour-before {
        height: 10px; }
      .container .clock-face .vertical-hours-before .bottom-hour-before {
        height: 10px; }
    .container .clock-face .vertical-hours-after {
      transform: rotate(30deg); }
      .container .clock-face .vertical-hours-after .top-hour-after {
        height: 10px; }
      .container .clock-face .vertical-hours-after .bottom-hour-after {
        height: 10px; }
    .container .clock-face .horizontal-hours, .container .clock-face .horizontal-hours-before, .container .clock-face .horizontal-hours-after {
      width: 300px;
      height: 4px;
      position: absolute;
      top: 148px;
      left: 0px; }
      .container .clock-face .horizontal-hours .left-hour, .container .clock-face .horizontal-hours-before .left-hour, .container .clock-face .horizontal-hours-after .left-hour, .container .clock-face .horizontal-hours-before .left-hour-before, .container .clock-face .horizontal-hours-after .left-hour-after {
        width: 20px;
        height: 4px;
        position: absolute;
        left: 3px;
        background-color: #eee; }
      .container .clock-face .horizontal-hours .right-hour, .container .clock-face .horizontal-hours-before .right-hour, .container .clock-face .horizontal-hours-after .right-hour, .container .clock-face .horizontal-hours-before .right-hour-before, .container .clock-face .horizontal-hours-after .right-hour-after {
        width: 20px;
        height: 4px;
        position: absolute;
        right: 3px;
        background-color: #eee; }
    .container .clock-face .horizontal-hours-before {
      transform: rotate(-30deg); }
      .container .clock-face .horizontal-hours-before .left-hour-before {
        width: 10px; }
      .container .clock-face .horizontal-hours-before .right-hour-before {
        width: 10px; }
    .container .clock-face .horizontal-hours-after {
      transform: rotate(30deg); }
      .container .clock-face .horizontal-hours-after .left-hour-after {
        width: 10px; }
      .container .clock-face .horizontal-hours-after .right-hour-after {
        width: 10px; }
    .container .clock-face .date {
      width: 160px;
      height: 30px;
      position: absolute;
      bottom: 50px;
      left: 70px;
      border: 2px groove #eee;
      color: #fff; }
      .container .clock-face .date #date {
        line-height: 30px;
        text-align: center;
        font-size: 16px;
        font-family: "Lato", sans-serif; }

/*# sourceMappingURL=style.css.map */
